# system.d configuration file

[Unit]
Description=Servicio de configuracion
Wants=pdi-registry.service
After=syslog.target pdi-registry.service

[Service]
User=root
Environment="SPRING_PROFILES_ACTIVE=__PROFILE__"
ExecStart=/bin/bash /opt/pdi/pdi-config-service.sh
Restart=always

[Install]
WantedBy=multi-user.target